.employee_filter_panel.employee_filter_panel {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 40rem;
  min-height: unset;
  margin: 0 auto 2rem;
  padding: 0;
  border-radius: 2rem;
  row-gap: 1.5rem;
  column-gap: 2rem;
  padding: 1rem;
}
