.filter {
  &_form {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 2rem;
  }

  &_select {
    width: 11rem;
    max-width: 11rem;
  }
}
