.block {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  min-height: 30rem;
  height: auto;
  padding: 1.5rem;
  background: #1e1e1e;
  width: 100%;
  max-width: 40rem;

  &.fixed_width {
    width: 40rem;
    max-width: auto;
  }
}
