.skeleton {
  background: linear-gradient(
    90deg,
    #1e1e1e,
    #191919,
    #1e1e1e /* повторение основного цвета */
  );
  animation: leftToRight 1.5s infinite reverse;
  background-size: 200%;
  border-radius: 1rem;
}

@keyframes leftToRight {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}
